{% extends 'layout_sidenav.html.twig' %}

{% block currentSNL %}dashboard{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">

            <h2>Assigned to me</h2>

            <h2>New this Week</h2>

            <h2>Recent Activity</h2>

        </div>
        <div class="col-md-4" style="padding-top: 19px;">

            <span class="vnd-headline">Events per hour</span>

            <hr>

            <span class="vnd-headline">Projects</span>

        </div>
    </div>

{% endblock %}
