{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} &middot; Incidents like '{{ incident.message }}'{% endblock %}

{% block currentPage %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block topBarLeft %}
    Incidents like <span class="vnd-slight-glow">{{ incident.message }}</span>
{% endblock %}

{% block content %}

    {% include('_incidents.html.twig') %}

{% endblock %}
