{% extends 'layout.html.twig' %}

{% block panes %}

    <div class="row">
        <div class="col-md-12 vnd-content">

            {% block content %}{% endblock %}

        </div>
    </div>

{% endblock %}
