{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} &middot; Edit Heartbeat Alias for '{{ heartbeat.ip }}'{% endblock %}

{% block currentPage %}applications{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Heartbeat Alias for '{{ heartbeat.ip }}'</h3>
                </div>
                <div class="panel-body">

                    <form method="post" id="form-edit-heartbeat-alias">

                        <div class="form-group">
                            <label for="input-alias">Alias</label>
                            <input type="text" class="form-control" id="input-alias" placeholder="Alias" name="alias" value="{{ heartbeat.alias }}">
                        </div>

                        <input type="hidden" value="1" name="sent">

                        <hr>

                        <button type="submit" class="btn btn-warning">Edit</button>

                    </form>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
